*{
    margin:0px;
    padding:0px;
}


#id1{
    font-size: larger;
    width:100%;
    height:250px;
    background-image: url(https://myfreedo.in/img/2020/03/2137833_Seasons-and-Spices.jpg);
    background-size: cover;
}    
#id3{
    height:144px;
    width:100%;
    
}
#id5{
    text-align: right;
}
#id10{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width:50%;
    height:300px;
    object-position: center;

}
#id11{
    margin-left: 10%;
    margin-right: 10%;
    border:solid;
    text-align: center;
}
.class1{
    border:solid;
}
.class2{
    width:100%;
    height:197px;
    object-fit: cover;
}
.textcen{
    text-align: center;
}
#menu ul{
    list-style: none;
    z-index: 1000;

}
#menu ul li{
    background-color: black;
    border: 1px solid white;
    width: 160px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    float: left;
}
#menu ul li a{
    text-decoration: none;
    color: white;
    display:block;
}
#menu ul li a:hover{
    background-color: blue;
}
#menu ul ul{
    position:absolute;
    display:none;
}
#menu ul li:hover > ul{
    display:block;

}
#id16{
    width:50%;
    height:200px;
    margin:2%;
}
